# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/Modules/*/vendor
/database/backup
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
/.fleet
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store

# Build files
/public/build
/public/mix-manifest.json

# Logs
*.log

# Cache
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# Uploads
/public/uploads

# Testing
.phpunit.cache
/coverage

# Deployment
/deploy.php
